body {
  background-color: #f5f5f5;
}
.product-image-section {
  padding: 2%;
  background-color: #f5f5f5;
  /* position: relative; */
  height: auto;
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  /* gap: 2%; */
}
.product-details-section {
  background-color: #f5f5f5;
  /* background-color: red; */
  /* height: 500px; */
  width: 35%;
  padding: 2%;
  height: 100%;
  box-sizing: border-box;
  position: sticky;
  top: 10vh;
}
.product-image-section img {
  width: 45%;
  border-radius: 2%;
  margin: 2%;
}

.buy-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.buy-buttons button {
  width: 50%;
  padding: 3%;
  margin: 1%;
  background-color: orange;
  border: 0;
  border-radius: 8px;
  color: white;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}
.product-info-section {
  background-color: white;
  margin: 0 2.5%;
  height: 300px;
  /* width: 100%; */
}
.product-name {
  /* background-color: pink; */
  color: #ff9d23;
  margin-bottom: 10%;
}
.product-price {
  /* background-color: aqua; */
  color: #ff9d23;
  margin: 10% 0;
}
.product-rating-section {
  /* background-color: ; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.product-rating-section p {
  /* background-color: red; */
  width: 20%;
  margin: 0;
}
.product-activity-buttons {
  max-width: 50%;
  /* background-color: #663399; */
  width: 25%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.product-details {
  background-color: yellowgreen;
  height: 600px;
}
.product-review {
  background-color: yellowgreen;
  height: 600px;
}
.product-qna {
  background-color: yellowgreen;
  height: 600px;
}
.product-info-section {
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  margin: 2%;
}
.product-description {
  margin-top: 2%;
  width: 100%;
}
.product-info-description {
  margin: 3%;
  font-family: "Cormorant";
  text-align: center;
  font-style: italic;
  width: 100%;
  font-size: 140%;
  font-weight: 500;
}

.product-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
}

.product-rating-summary {
  /* width: 30%; */

  background-color: white;
  border: 0px solid gray;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 8px;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
  color: #ff9d23;
}
.product-activity-buttons button {
  background-color: white;
  border: 0px solid gray;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
  color: #6e7191;
}

.product-review-section {
  /* background-color: red;s */
  /* height: 500px; */
  width: 95%;
  /* margin: 2% 0; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 4px;
}
.product-all-ratings {
  width: 35%;
  background-color: #fef9e1;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100%;
  min-height: 50vh;
  gap: 4vh;
  box-sizing: border-box;
  padding: 2% 0;
}
.product-all-ratings p {
  padding: 0;
  margin: 0;
}
.product-all-reviews {
  width: 65%;
  background-color: white;
  height: 100%;
  box-sizing: border-box;
  padding: 2%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.product-review-header {
  width: 95%;
  /* margin: 0 2.5%; */
  box-sizing: border-box;
  height: 100px;
  background-color: #fef9e1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
}
.average-rating-title {
  color: #4e4b66;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.average-rating-number {
  font-size: 56px;

  font-weight: 300;
}

.product-review-complete-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* border-radius: 10px; */
}
/* .product-all-reviews-review-info p {
  padding: 0;
  margin: 0;
} */

.total-review-number {
  font-weight: 400;
  color: #4e4b66;
  letter-spacing: 1px;
}
.user-review-full-name {
  color: #ff9d23;
  font-size: 120%;
  margin: 0;
  margin-top: 1%;
}
.user-review-username {
  color: #6e7191;
  font-weight: 300;
  font-size: 80%;
  margin: 0;
}
.user-review-rating {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 2px;
  font-size: 120%;
  margin: 2% 0;
  color: #ff9d23;
}
.user-review-comment {
  margin: 0;
  margin-bottom: 1%;
}

.product-all-reviews-review-info {
  /* margin: 5px 0; */
  padding: 5px 0;
  border-bottom: 1px solid gray;
}

.product-all-reviews-header {
  /* font-family: "Cormorant", serif; */
  color: #ff9d23;
  /* font-size: 120%; */
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}

.user-review-created-at {
  padding: 0;
  margin: 0;
  font-size: 80%;
  color: #6e7191;
}

.user-review-personal-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.average-rating-showcase {
  position: relative;
  min-width: 120px;
  max-width: 100%;
  /* height: 10px; */
  /* min-width: max-content; */
  /* max-width: max-content; */
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: start;
  /* transform: translateX(50%); */
  display: inline-flex;
}
.average-rating-stars-filled {
  display: flex;
  flex-direction: row;

  width: 100%;
  /* height: 100%; */
  overflow: hidden;
  /* background-color: red; */
  justify-content: start;
  align-items: center;
  position: absolute;
  /* transform: translateX(-50%); */
  color: #ff9d23;
}
.average-rating-stars-border {
  width: 100%;
  /* background-color: red; */
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  /* transform: translateX(-50%); */
  color: #ff9d23;
}
