.cart-section {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* gap: 50px; */
  /* height  : 100px; */
  /* width : 100px; */
  background-color: rgb(245, 245, 245);
}
.cart-section p {
  padding: 0;
  margin: 0;
}
.cart-details {
  /* height: 750px; */
  width: 50vw;
  background-color: white;
  padding: 2%;
  box-sizing: border-box;
  border-radius: 8px;
}
.price-details {
  position: sticky;
  top: 10vh;
  height: fit-content;
  width: 30vw;
  background-color: white;
  padding: 2%;

  box-sizing: border-box;
  border-radius: 8px;
}
.product-in-cart {
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: row;
  margin-bottom: 4vh;
  padding: 4%;
  box-sizing: border-box;
  gap: 10px;
  background-color: #fef9e1;
}
.product-in-cart-image {
  height: 100%;
  border: 1px solid orange;
  cursor: pointer;
  width: 30%;
  border-radius: 4px;
  overflow: hidden;

  /* background-color: pink; */
}
.product-in-cart-price {
  /* height: 100%; */
  width: fit-content;
  /* background-color: whitesmoke; */
}
.price-breakup {
  height: 100%;
  width: 100%;
  background-color: #fef9e1;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 2%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.product-in-cart-details {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
}

.product-in-cart-name p {
  font-size: 150%;
  color: orange;
  cursor: pointer;
}

.product-in-cart-price p {
  font-size: 150%;
}

.product-in-cart-quantity {
  display: flex;
  flex-direction: row;
  font-size: 150%;
}
.product-in-cart-quantity p {
  margin: 0 10px;
  color: orange;
}
.product-in-cart-quantity button {
  border: 1px solid orange;
  padding: 5px 10px;
  padding-top: 3px;
  text-align: center;
  background-color: #fef9e1;
  color: orange;
  font-size: 80%;
  border-radius: 4px;
}

.product-cart-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
}

.price-breakup-title {
  font-size: 120%;
  color: orange;
}
.total-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 120%;
  color: orange;
}

.cart-section button {
  cursor: pointer;
}
