.order-show-section p {
  padding: 0;
  margin: 0;
  /* margin-bottom: 5px; */
}
.order {
  margin: 4%;
  padding: 4%;
  /* padding: 10px; */
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fef9e1;
}

.order-image {
  border: 1px solid orange;
  height: 150px;
  width: 150px;
  border-radius: 8px;
  overflow: hidden;
}
.order-details {
  margin: 0 4%;
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  justify-content: space-between;
  padding: 4px 0;
  /* border: 1px solid orange; */
}
