
.nav-container{
    /* height: 50px; */
    height: 100px;
    width: 100%;
   }
   .navbar {
    box-sizing: border-box;
    padding: 50px;
     position: fixed;
     width: 100%;
     top:0;
     height: 100px;
     z-index: 1000;
     background-color: white;
     font-size: 30px;
     display: flex;
     justify-content: space-between; 
     align-items: center; 
     /* padding: 30px 20px ;  */
     color: black;
     /* margin: -8px; */
     box-shadow: 0 0 20px rgba(0,0,0,0.1);
     /* margin-left: -50px; */

   }
   .navbar p{
   /* font-size: 40px; */
   cursor: pointer;
   color: #FF9D23;


   /* padding-left: 40px; */
   }
   
   #contactNav{
     border-radius: 2px;
     padding: 8px;
     border: 2px solid black;
   }
   
   #contactNav:hover{
     transition: all 0.2s ease-out;
     border-color: orange;
     background-color: orange;
     color: white;
   }
   
   .navbar a{
     cursor: pointer;
     
   
   }
   .border-effect{
     margin-top: 8px;
     border-bottom: 1px solid transparent;
     /* box-sizing: border-box; */
   padding-bottom: 3px;
   }
   .border-effect:hover{
     transition: all 0.2s ease-out;
     border-bottom: 4px solid orange;
     color: orange;
     padding-bottom: 0px;
   }
   
   .navbar .options {
   
     display: flex;
     gap: 20px; 
   }
   