*{
  font-family: "Oswald", sans-serif;
}
.nav-container{
 height: 45px;
}
.navbar {
  position: fixed;
  width: 100%;
  top:0;
  height: 50px;
  z-index: 1000;
  background-color: white;
  font-size: 30px;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 30px 20px ; 
  color: black;
  margin: -8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: -50px;
}
.navbar h1{
font-size: 30px;
cursor: pointer;
color: orange;
padding-left: 40px;
}

#contactNav{
  border-radius: 2px;
  padding: 8px;
  border: 2px solid black;
}

#contactNav:hover{
  transition: all 0.2s ease-out;
  border-color: orange;
  background-color: orange;
  color: white;
}

.navbar a{
  cursor: pointer;

}
.border-effect{
  margin-top: 8px;
  border-bottom: 1px solid transparent;
  /* box-sizing: border-box; */
padding-bottom: 4px;
}
.border-effect:hover{
  transition: all 0.2s ease-out;
  border-bottom: 5px solid orange;
  color: orange;
  padding-bottom: 0px;
}

.navbar .options {

  display: flex;
  gap: 20px; 
}



.section{
  margin-top: 40px;
  position: relative;
  /* padding: 10px; */
  width: 100%;
  box-sizing: border-box;
  opacity: 1;
  background: radial-gradient(#de7d00 15%, transparent 16%), repeating-linear-gradient(0deg, transparent 6.5%, #ffffff 7%, #ffffff 9%, transparent 10%), linear-gradient(45deg, transparent 49%, #de7d00 49%, #de7d00 51%, transparent 51%), linear-gradient(-45deg, transparent 49%, #de7d00 49%, #de7d00 51%, transparent 51%);
        background-size: 2em 2em;
        background-color: #ffffff;
        opacity: 1;
        display: grid;
  grid-template-rows: auto auto ;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.section h1{
  font-size: 40px;
  color:orange;
  width: 370px;
  background-color: white;
  border-radius: 4px;
}
.all-cards{
display: grid;
grid-template-columns: auto auto auto;
gap :8px;
}
.heading-category{
  margin-left: 40px;
  margin-top: 40px;
  /* width: 100%; */
}


.card{
  background-color: #ffffff;
opacity: 1;
border: 1px solid orange;
background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #ffffff 5px ), repeating-linear-gradient( #eac63455, #eac634 );
  box-sizing: border-box;
  /* padding: 10px; */
  margin : 40px;
  width: 80%;
  cursor: pointer;
  height: 400px;
  /* background-color: red; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  border-radius: 8px;
  transition: transform 0.5s,color 0.5s,border 0.5s ;
}
.card:hover{
  transform: scale(1.08,1.08);
  color : orange;
  border: 1px solid orange ;
}

.card img{
  
  width: 100%;
  border-radius: 8px;;
  height: 250px;
  object-fit: cover;
  position: absolute;

}
.card span{
  position: absolute;
  /* background-color: red; */
  margin-top: 1px;
  margin-left: 10px;
  }
  
.card h3{
  /* color: wheat; */
  font-size: 28px;
  top : 60%;
  width: 100%;
  position: absolute;
  padding-left: 10px;
}
.card p{
  /* color: wheat; */
  font-size: 24px;
  position: absolute;
  top : 72%;
  padding-left: 10px;
  border-radius: 8px;
}

.upper{
  
 display: grid;
 margin: -8px;
 margin-top: 50px;
 background-color: rgb(208, 97, 0);
 grid-template-columns: auto auto auto auto;
 padding: 10px;
}

.col{
  font-size: 20px;
  margin: 32px;
  display: grid;
  gap : 16px;
  padding-left: 16px;
}
.col img{
  height: 250px;
}

.col a{
  font-size: larger;
  /* background-color: red; */
  width: 120px;
  color: white;
  cursor: pointer;
}

.col a:hover{
  transition: all 0.3s;
  color: black;
}

