.average-rating-showcase {
  position: relative;
  min-width: 120px;
  max-width: 100%;
  /* margin: 4% 0; */
  /* height: 10px; */
  /* min-width: max-content; */
  /* max-width: max-content; */
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: start;
  /* transform: translateX(50%); */
  display: inline-flex;
}

.average-rating-stars-filled {
  display: flex;
  flex-direction: row;

  width: 100%;
  /* height: 100%; */
  overflow: hidden;
  /* background-color: red; */
  justify-content: start;
  align-items: center;
  position: absolute;
  /* transform: translateX(-50%); */
  color: #ff9d23;
}
.average-rating-stars-border {
  width: 100%;
  /* background-color: red; */
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  /* transform: translateX(-50%); */
  color: #ff9d23;
}
.rating-count-showcase {
  /* height: 300px; */
  width: 100%;
  /* background-color: red; */
  display: flex;
  padding: 2% 0;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
  align-items: center;
}
.star-rating-count {
  width: 80%;
  /* height: auto; */
  height: 30px;
  /* background-color: black; */
  /* min-height: 30px; */

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.star-rating-value {
  width: 20%;
  height: 80%;
  /* background-color: rebeccapurple; */
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* align-items: stretch; */
  color: #ff9d23;
}
.star-rating-visualizer {
  width: 80%;
  height: 80%;
  /* background-color: palevioletred; */
  display: flex;

  flex-direction: row;
  align-items: center;
}

.visualizer-window {
  width: 80%;
  border-radius: 6px;
  background-color: #ccc;
  height: 30%;
  overflow: hidden;
  /* position: relative; */
}
.visualizer-count {
  width: 20%;
  /* background-color: blue; */
  height: 100%;
  text-align: center;
}

.rating-bar {
  height: 100%;
  /* position: absolute; */
  background-color: #ff9d23;
}

.product-all-ratings {
  width: 35%;
  background-color: #fef9e1;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: auto;
  min-height: 50vh;
  gap: 4vh;
  box-sizing: border-box;
  padding: 2% 0;
}
.product-all-ratings p {
  padding: 0;
  margin: 0;
}
.average-rating-title {
  color: #4e4b66;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.average-rating-number {
  font-size: 56px;

  font-weight: 300;
}
.total-review-number {
  font-weight: 400;
  color: #4e4b66;
  letter-spacing: 1px;
}
