.account-info-section {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 25px;
  /* align-items: end; */
}

.account-info-section p {
  margin: 0;
  padding: 0;
  /* color: red; */
  text-align: start;
}

.account-info-details {
  display: grid;
  grid: 100px / auto auto;
}
.account-info-last-name {
  display: flex;
  flex-direction: column;
}
.account-info-first-name {
  display: flex;
  flex-direction: column;
}

.account-info-address {
  display: flex;
  flex-direction: column;
}

.account-info-phone-number {
  display: flex;
  flex-direction: column;
}
.account-title {
  color: #ff9d23;
  font-size: 150%;
  font-weight: 600;
}
.account-value {
  font-size: 120%;
  font-weight: 400;
}

.account-edit-button {
  width: fit-content;
  font-size: 120%;
  background-color: #fef9e1;
  /* background-color: red; */
  color: #ff9d23;
  border: 0;
  border-radius: 4px;
  padding: 4px;
  border: 1px solid #ff9d23;
}
.account-save-button {
  width: fit-content;
  font-size: 120%;
  background-color: #fef9e1;
  /* background-color: red; */
  color: #ff9d23;
  border: 0;
  border-radius: 4px;
  padding: 4px;
  border: 1px solid #ff9d23;
}

.account-edit-button:hover {
  background-color: #ff9d23;
  color: #fef9e1;
}

.account-save-button:hover {
  background-color: #ff9d23;
  color: #fef9e1;
}
